*
{
	font-family:  monospace,'Courier New', Courier;
}

body, html
{
	width: 100%;
	margin: 0;
	padding: 0;
}

header
{
	background-color: #1f2937;
	color: #e5e7eb;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: -30px;
}

.links
{
	display: flex;
	gap: 15px;
	margin-right: 10px;
	padding: 2px;
}

header a, header p, .hero p
{
	font-size: 18px;
	color: #e5e7eb;
}

.hero
{
	background-color: #1f2937;
	padding: 30px;
}

.hero-main
{
	font-size: 48px;
	font-weight: bolder;	
	color: #f9faf8;
}

button
{
	background-color: #3882f6;
	color: #f9faf8;
	border-radius: 8%;
	width: 100px;
	height: 30px;
	border: 0px;
}

.body-first
{
	margin-left: 50px;
	margin-right: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row-reverse;
}

.bf-text
{
	padding-right: 100px;
}

.bf-image
{
	margin-left: auto;
	margin-right: 10px;
	background-color: lightgray;
	display: flex;
	height: 500px;
	width: 400px;
	border: 2px #49628a;
	border-style: solid;
}


.body-second h1
{
	font-size: 36px;
	font-weight: bolder;
	color: #1f2937;
}

.body-third
{
	background-color: #e5e7eb;
	color: #1f2937;
	font-style: italic;
	font-weight: lighter;
}

.body-third p
{
	font-style: normal;
	font-weight: bold;
}

.body-fourth
{
	background-color: #3882f6;
}

.body-fourth button
{
	border: 2px;
	border-style: solid;
	border-color: #e5e7eb;
}

footer
{
	background-color: #1f2937;
}